<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ruthirsty.drinkwater" version="1.0.0" android-versionCode="10000" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>喝水打卡</name>
    <description>
        一个简单实用的喝水提醒打卡应用，帮助您养成良好的喝水习惯。
    </description>
    <author email="ruthirsty@example.com" href="https://github.com/RUthirsty">
        RUthirsty Team
    </author>
    <content src="index.html" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="Orientation" value="portrait" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Internal" />
    </platform>

    <access origin="*" />
    <allow-navigation href="*" />
</widget>
